;root{
    --text-color: hsl(254, 85%, 89%);
    --card_color: hsl(252, 81%, 65%);
    --card-back-color: hwb(268 9% 25%); 
}


body {
   background: url("img/bg-desktop.jpg");
    font-family: Bai Jamjuree;
}

#container {
    display: flex;
    flex-wrap: ;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    background-color: #ad94ff;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}

.cartao__conteudo {
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
}

.cartao__conteudo h3 {
    background-color: rgb(137, 94, 255);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    color: var(--text-color);
    border: 1px solid var (--text-color);
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}